*.*
!*.java
!*.txt
!*.png
!*.tcn
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
!/src/minecraft/fluidmech/
!/src/minecraft/hydraulic/
!/src/minecraft/universalelectricity/
!/src/minecraft/org/
!/resources/
!info.txt
!publish.bat
!publish_obf.bat
!include.bat
!buildlocal.bat
!/README