*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
!/src/minecraft/fluidmech/
!/src/minecraft/hydraulic/
!/resources/
!/models/
!info.txt
!AssemblyLineStandard.xml
!publish.bat
!publish_obf.bat
!include.bat
!buildlocal.bat
!/README