*.bat
*.sh
*.db
*.exe
/*/
/src/minecraft/assemblyline/textures
/src/minecraft/assemblyline/language
/src/minecraft/assemblyline/conveyor.ogg
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
!/src/minecraft/assemblyline/
!/src/minecraft/universalelectricity/
!/src/minecraft/dan200
!/resources/
!/models/
!info.txt
!AssemblyLineStandard.xml
!publish.bat
!publish_obf.bat
!include.bat
!buildlocal.bat
!/README